* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  display: grid;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  background: #0e0f1f;
}

.controls {
  position: absolute;
  top: 20px;
  margin: auto;
}

.slider {
  display: grid;
  gap: 15px;
  grid-template-columns: 400px 1fr;
  align-items: center;
  justify-items: center;
}

div.inputs {
  display: inline-block;
  height: 2.4rem;
  margin: 0.3rem;
  line-height: 3rem;
}

div.inputs input {
  width: 300px;
}

.slider-value {
  text-align: center;
  min-width: 7rem;
  background-color: rgb(104, 104, 114);
  color: rgb(144, 228, 144);
  line-height: 2.4rem;
  margin: 0.3rem;
}

.container {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50% -100px;
  transform: rotateX(7deg) rotateY(4deg);
  transition: 1s;
}

.container:hover {
  transform: rotateX(560deg) rotateY(330deg) rotateZ(270deg);
  transition: 1s;
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: 2s ease-in-out;
  background-color: rgba(104, 104, 114, 0.8);
  border: solid 1px rgb(56, 83, 133);
  color: rgb(144, 228, 144);
  font-size: 3rem;
  line-height: 200px;
  text-align: center;
  /* backface-visibility: hidden; */
  /* transform-origin: left;
  transform: rotateX(calc(90deg * var(--x))) rotateY(calc(90deg * var(--y)))
    rotateZ(calc(90deg * var(--z))) translateZ(100px); */
}

.face.top {
  transform: rotateX(90deg) translateZ(100px) translateY(-100px);
}

.face.bottom {
  transform: rotateX(-90deg) translateZ(100px) translateY(100px);
}

.face.back {
  transform: rotateX(180deg) translateZ(200px);
}

.face.right {
  transform: rotateY(90deg) translateX(100px) translateZ(100px);
}

.face.left {
  transform: rotateY(-90deg) translateX(-100px) translateZ(100px);
}
